app/cache/*
app/logs/*
app/bootstrap.php.cache
/.settings
/.buildpath
/.project
/.idea
/node_modules
/composer.phar
/build/logs/*
/vendor
node_modules/
/cov
/web/bundles
/web/css
/web/js
/web/uploads/users/*
/web/media/cache
/web/build.js
/app/phpunit.xml
/app/karma.conf.js
/app/config/parameters.yml
/app/config/parameters_test.yml
*~

/app/SymfonyRequirements.php
debug
/web/images/*
/app/config/config.yml
/app/Resources/*
